html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
    --fade-transition: 0.3s linear;
    --pizza-size: 2rem;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 0;
    font-family: "EB Garamond", serif;
}

.external_links {
    text-align: center;
}

.external_links a, .external_links img {
    text-decoration: none;
    width: 2.5rem;
    transition: var(--fade-transition);
}

.external_links img:hover {
    filter: invert(1);
    transition: var(--fade-transition);
}

ul, ol, li {
    list-style: none;
    margin: 0 0 0 1vw;
    padding: 0;
}

.nav_and_main {
    display: flex;
}

.column {
    margin: 0 0 0 3vw;
    padding: 3rem 3vw 1rem 0rem;
    /* the left margin should be equal to the right padding for symmetry around the sidebar's border */
}

.sidebar li.active>a {
    color: black;
    /* text-shadow: -0.03ex 0 black, 0.03ex 0 black; */
    /* making the text bold made the sidebar grow in a jerky way when the longest section became bold, so this shadow makes the text pseudo-bold without growing it, and it also animates better than bolding */
    transition: var(--fade-transition);
}

.sidebar li>a::before {
    /* you can put a picture in 'content' but you can't size it or animate it, you have to use a background image and inline-block instead: https://stackoverflow.com/questions/8977957/can-i-change-the-height-of-an-image-in-css-before-after-pseudo-elements */
    content: "";
    background-image: url(icons/favicon.ico);
    background-size: var(--pizza-size) var(--pizza-size);
    width: var(--pizza-size);
    height: var(--pizza-size);
    display: inline-block;
    opacity: 0;
    transition: var(--fade-transition);
    margin-right: 10px;
    /* make space between pizza and text */
    vertical-align: middle;
}

.sidebar li.active>a::before {
    content: "";
    background-image: url(icons/favicon.ico);
    background-size: var(--pizza-size) var(--pizza-size);
    width: var(--pizza-size);
    height: var(--pizza-size);
    display: inline-block;
    opacity: 1;
    transition: var(--fade-transition);
    margin-right: 10px;
    /* make space between pizza and text */
    vertical-align: middle;
}

.sidebar {
    border-right: 1px solid;
    border-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(172, 172, 172) 50%, rgba(0, 0, 0, 0) 100%) 1;
    height: min-content;
    position: sticky;
    top: 4rem;
}

a {
    text-decoration: dashed underline;
    text-decoration-color: transparent;
    color: blueviolet;
    transition: var(--fade-transition);
    white-space: nowrap;
}

a:hover {
    text-decoration-color: unset;
    transition: var(--fade-transition);
}

.sidebar a {
    display: list-item;
    font-size: 1.2rem;
    padding-bottom: 10%;
}

.main {
    flex: 1;
    max-width: 50vw;
}

.main p {
    font-size: 18px;
}

.main_row p {
    margin: 0;
    /* the margin will be on the main_row instead */
}

section {
    padding-bottom: 3vh;
}

section img {
    width: 5vw;
}

.main_row {
    display: flex;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.img_next_to_text {
    width: 4vw;
    margin-right: 1rem;
}