html {
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
    --fade-transition: 0.3s linear;
    --pizza-size: 2rem;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 4rem;
    margin-bottom: 0;
    font-family: "EB Garamond", serif;
}

.column {
    margin: 0 0 0 3vw;
    padding: 3rem 3vw 1rem 0rem;
    /* the left margin should be equal to the right padding for symmetry around the sidebar's border */
}

.sidebar {
    border-right: 1px solid;
    border-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(172, 172, 172) 50%, rgba(0, 0, 0, 0) 100%) 1;
    height: min-content;
    position: sticky;
    top: 0;
    list-style: none;
    margin-left: 5vw;
}

.external_links {
    text-align: center;
}

.sidebar a, .sidebar img {
    text-decoration: none;
    width: 2.5rem;
    transition: var(--fade-transition);
}

.sidebar img:hover {
    filter: invert(1);
    transition: var(--fade-transition);
}

.nav_and_main {
    display: flex;
}

a {
    text-decoration: dashed underline;
    text-decoration-color: transparent;
    color: blueviolet;
    transition: var(--fade-transition);
    white-space: nowrap;
}

a:hover {
    text-decoration-color: unset;
    transition: var(--fade-transition);
}

.sidebar a {
    display: list-item;
    font-size: 1.2rem;
    padding-bottom: 10%;
}

.main {
    flex: 1;
    max-width: 50vw;
}

.main p {
    font-size: 18px;
    margin-bottom: 0;
}

.main_row p {
    margin: 0;
    /* the margin will be on the main_row instead */
}

section {
    padding-bottom: 1.245rem;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(172, 172, 172) 50%, rgba(0, 0, 0, 0) 100%);
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 50%, black 100%); */
    border-image-slice: 1;
}

section img {
    width: 5vw;
}

.main_row {
    display: flex;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.img_next_to_text {
    width: 4vw;
    margin-right: 1rem;
}